Repository SWE574-Fall2023-Group1/SWE574-Fall2023-G1, pull requests merged in 2023-12, with the labels that each got.

#185 Feature/184 make local-frontend
  Makefile
Labels: frontend, miscellaneous

#188 Resolve 2 times rendering
  backend/frontend/src/index.js
Labels: bug, frontend

#179 Feature/178 CI Django test pipeline
  .github/workflows/django.yml
  Makefile
  backend/backend/settings.py
  backend/user/tests.py
  docker-compose.yml
Labels: backend

#189 Feature/181 recommendation v1
  backend/frontend/src/components/header/header.js
  backend/frontend/src/pages/recom/Recommendations.js
  backend/user/models.py
  backend/user/recomFunctions.py
  backend/user/serializers.py
  backend/user/urls.py
  backend/user/views.py
Labels: enhancement, backend

#182 feature/170 Redesign memory creation screen
  backend/frontend/src/pages/story/CreateStory.css
  backend/frontend/src/pages/story/CreateStory.js
  backend/frontend/src/pages/story/StoryMap.js
  backend/frontend/src/pages/story/TagSearch.js
Labels: p:mid, frontend

#194 Add new request for all stories with own stories #191
  backend/user/urls.py
  backend/user/views.py
Labels: backend

#193 Add non blankable fields in story creation #192
  backend/user/migrations/0036_alter_tag_name_storyrecommendation.py
  backend/user/migrations/0037_alter_story_content_alter_story_title.py
  backend/user/models.py
  backend/user/serializers.py
  backend/user/views.py
Labels: backend

#197 Feature/168 reduce docker image sizes
  Makefile
  backend/Dockerfile
  backend/frontend/Dockerfile
  backend/requirements.in
  backend/requirements.txt
Labels: deployment

#198 Feature/171 redesign memory viewing screen
  backend/frontend/src/pages/story/CommentSection.js
  backend/frontend/src/pages/story/CreateStory.css
  backend/frontend/src/pages/story/StoryDetails.css
  backend/frontend/src/pages/story/StoryDetails.js
Labels: enhancement, p:mid, frontend

#199 Feature/172 redesign search frontend
  backend/frontend/src/pages/search/StorySearch.css
  backend/frontend/src/pages/search/StorySearch.js
Labels: enhancement, p:mid, frontend

#187 Visual changes on header #176
  backend/frontend/src/components/header/header.js
  backend/frontend/src/pages/landing/Logout.js
Labels: frontend

#200 Feature/Improve profile page design #151
  backend/frontend/src/assets/images/addnewphoto.png
  backend/frontend/src/assets/images/date.png
  backend/frontend/src/assets/images/deletephoto.png
  backend/frontend/src/assets/images/edit.png
  backend/frontend/src/assets/images/location.png
  backend/frontend/src/assets/images/tick.png
  backend/frontend/src/pages/profile/UserProfile.css
  backend/frontend/src/pages/profile/UserProfile.js
  backend/frontend/src/pages/profile/UserProfileOthers.css
  backend/frontend/src/pages/profile/UserProfileOthers.js
Labels: enhancement, p:mid, frontend

#210 Feature/143 navbar improvements
  backend/frontend/src/components/header/UserSearch.js
  backend/frontend/src/components/header/header.css
  backend/frontend/src/components/header/header.js
Labels: bug, p:low, frontend

#218 Feature/153 timeline design
  backend/frontend/src/pages/homepage/AllStories.js
  backend/frontend/src/pages/homepage/StoriesbyFollowingUsers.js
  backend/frontend/src/pages/search/StoryDetailsBox.css
  backend/frontend/src/pages/search/StoryDetailsBox.js
  backend/frontend/src/pages/search/StorySearch.js
  backend/frontend/src/pages/search/Timeline.css
  backend/frontend/src/pages/search/Timeline.js
  backend/frontend/src/pages/story/CreateStory.js
  backend/frontend/src/pages/story/StoryDetails.js
Labels: backend, frontend

#219 Update edit Story button name #215
  backend/frontend/src/pages/story/EditStory.js
Labels: frontend

#220 Feature/216 removing tags bug
  backend/frontend/src/pages/story/CreateStory.js
Labels: frontend

#221 Fix timeline name #217
  backend/frontend/src/pages/search/Timeline.js
Labels: bug, frontend

#222 Fix location issue while editing a story #214
  backend/user/serializers.py
Labels: bug, backend

#225 Feature/224 merge story search
  backend/frontend/src/components/header/header.js
  backend/frontend/src/pages/search/StorySearch.js
  backend/frontend/src/pages/search/Timeline.js
  backend/frontend/src/pages/story/StoryDetails.js
  backend/user/views.py
Labels: backend, frontend

#227 Feature/226 timeline swap
  backend/frontend/src/components/header/header.css
  backend/frontend/src/pages/search/StoryDetailsBox.css
  backend/frontend/src/pages/search/StoryDetailsBox.js
  backend/frontend/src/pages/search/Timeline.css
  backend/frontend/src/pages/search/Timeline.js
Labels: bug, enhancement, frontend

#213 Improve navbar #143
  backend/frontend/src/components/header/header.css
Labels: enhancement, p:mid, frontend

#231 Fix story author photo #201
  backend/frontend/src/pages/story/StoryDetails.js
Labels: bug, frontend

#234 Bug/230 user profile stories bug
  backend/frontend/src/pages/profile/UserProfile.css
  backend/frontend/src/pages/profile/UserProfile.js
  backend/frontend/src/pages/profile/UserProfileOthers.css
  backend/frontend/src/pages/profile/UserProfileOthers.js
Labels: bug, frontend

#235 Add Search semantic tag feature on search #223
  backend/frontend/src/pages/search/StorySearch.js
  backend/user/views.py
Labels: backend, frontend

#248 Feature/247 update story error message
  backend/user/serializers.py
  backend/user/views.py
Labels: backend

#250 Update css files for resize of timeline #244
  backend/frontend/src/pages/search/StoryDetailsBox.css
  backend/frontend/src/pages/search/Timeline.css
Labels: frontend

#249 Feature/241 search story changes
  backend/frontend/src/components/header/header.js
  backend/frontend/src/pages/search/SearchResults.js
  backend/frontend/src/pages/search/SearchResults.module.css
  backend/frontend/src/pages/search/StorySearch.css
  backend/frontend/src/pages/search/StorySearch.js
  backend/frontend/src/pages/search/Timeline.css
  backend/frontend/src/pages/search/Timeline.js
  backend/user/views.py
Labels: backend, frontend

#246 Feature/237 activity stream bug
  Documents/Customer_Milestone_2_Specification.pdf
  Documents/SWE574 Group 1 Project Plan.xlsx
  backend/frontend/src/pages/activity/ActivityStream.js
  reports/m2_group1.md
Labels: bug, frontend

#258 Feature/238 recommendation v2
  backend/Dockerfile
  backend/requirements.in
  backend/requirements.txt
  backend/user/migrations/0038_storyrecommendation_content_related_and_more.py
  backend/user/models.py
  backend/user/recomFunctions.py
  backend/user/serializers.py
  backend/user/urls.py
  backend/user/views.py
Labels: enhancement, backend

#259 Feature/256 recommendation frontend
  backend/frontend/src/pages/recom/Recommendations.js
  backend/frontend/src/pages/recom/Recommendations.module.css
  backend/user/views.py
Labels: backend, frontend

#261 Add info message if there is no activity #252
  backend/frontend/src/pages/activity/ActivityStream.js
Labels: bug, frontend

#262 Feature/257 click issue location
  backend/frontend/src/pages/story/StoryDetails.js
  backend/user/views.py
Labels: bug, backend, frontend

#264 Update Activity Stream #260
  backend/frontend/src/pages/activity/ActivityStream.js
Labels: bug, frontend

#263 Update Text align for story creation date #242
  backend/frontend/src/pages/profile/UserProfile.css
Labels: bug, frontend

#265 Add not enough recommendation back up data #242
  backend/user/views.py
Labels: enhancement, backend

#266 Feature/113 add actions for enter key
  backend/frontend/src/components/header/UserSearch.js
  backend/frontend/src/pages/landing/Login.js
  backend/frontend/src/pages/landing/Register.js
Labels: enhancement, p:mid, frontend

#254 Add unit test v2 for login #80
  backend/frontend/package.json
  backend/frontend/src/App.test.js
  backend/frontend/src/pages/landing/Login.js
  backend/frontend/src/pages/landing/Login.test.js
  backend/frontend/styleMock.js
Labels: p:mid, frontend, testing

#255 Feature/251 minor refinements
  .github/workflows/django.yml
  backend/.DS_Store
  backend/Dockerfile
  backend/frontend/.dockerignore
  backend/profile_photos/.gitignore
  backend/requirements.txt
  backend/story_images/.gitignore
  backend/user/serializers.py
  docker-compose-pipeline.yml
  docker-compose.yml
Labels: p:low, backend, frontend, miscellaneous

#270 Feature/269 CI Frontend test pipeline
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
  Makefile
Labels: p:mid, frontend, testing

#268 Imp/267 revise the profile buttons
  backend/frontend/src/pages/profile/UserProfile.css
  backend/frontend/src/pages/profile/UserProfile.js
  backend/frontend/src/pages/profile/UserProfileOthers.js
Labels: enhancement, frontend

#273 Update profile details part #272
  backend/frontend/src/pages/profile/UserProfile.js
  backend/frontend/src/pages/profile/UserProfileOthers.js
Labels: enhancement, frontend

#271 Dev->Main #153 #215 #216 #217 #214 #143 #224 #226 #228 #143 #201 #232 #230 #223 #247 #244 #241 #237 #238 #256 #252 #257 #260 #242 #243 #113 #80 #251 #269 #267 #272
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
  Makefile
  backend/.DS_Store
  backend/Dockerfile
  backend/frontend/.dockerignore
  backend/frontend/package.json
  backend/frontend/src/App.test.js
  backend/frontend/src/components/header/UserSearch.js
  backend/frontend/src/components/header/header.css
  backend/frontend/src/components/header/header.js
  backend/frontend/src/pages/activity/ActivityStream.js
  backend/frontend/src/pages/homepage/AllStories.js
  backend/frontend/src/pages/homepage/StoriesbyFollowingUsers.js
  backend/frontend/src/pages/landing/Login.js
  backend/frontend/src/pages/landing/Login.test.js
  backend/frontend/src/pages/landing/Register.js
  backend/frontend/src/pages/profile/UserProfile.css
  backend/frontend/src/pages/profile/UserProfile.js
  backend/frontend/src/pages/profile/UserProfileOthers.css
  backend/frontend/src/pages/profile/UserProfileOthers.js
  backend/frontend/src/pages/recom/Recommendations.js
  backend/frontend/src/pages/recom/Recommendations.module.css
  backend/frontend/src/pages/search/SearchResults.js
  backend/frontend/src/pages/search/SearchResults.module.css
  backend/frontend/src/pages/search/StoryDetailsBox.css
  backend/frontend/src/pages/search/StoryDetailsBox.js
  backend/frontend/src/pages/search/StorySearch.css
  backend/frontend/src/pages/search/StorySearch.js
  backend/frontend/src/pages/search/Timeline.css
  backend/frontend/src/pages/search/Timeline.js
  backend/frontend/src/pages/story/CreateStory.js
  backend/frontend/src/pages/story/EditStory.js
  backend/frontend/src/pages/story/StoryDetails.js
  backend/frontend/styleMock.js
  backend/profile_photos/.gitignore
  backend/requirements.in
  backend/requirements.txt
  backend/story_images/.gitignore
  backend/user/migrations/0038_storyrecommendation_content_related_and_more.py
  backend/user/models.py
  backend/user/recomFunctions.py
  backend/user/serializers.py
  backend/user/urls.py
  backend/user/views.py
  docker-compose-pipeline.yml
  docker-compose.yml
Labels: backend, frontend, deployment, testing, release

#276 Change background #274
  backend/frontend/src/components/header/header.css
Labels: enhancement, p:low, frontend

#278 Update hover design #277
  backend/frontend/src/components/header/header.css
Labels: enhancement, p:low, frontend

#275 Imp/240 frontend fonts
  backend/frontend/package-lock.json
  backend/frontend/src/components/header/UserSearch.js
  backend/frontend/src/components/header/header.css
  backend/frontend/src/pages/activity/ActivityStream.js
  backend/frontend/src/pages/homepage/StoryContainer.js
  backend/frontend/src/pages/landing/Login.js
  backend/frontend/src/pages/landing/Login.test.js
  backend/frontend/src/pages/landing/Logout.js
  backend/frontend/src/pages/landing/Register.js
  backend/frontend/src/pages/recom/Recommendations.js
  backend/frontend/src/pages/search/StorySearch.js
  backend/frontend/src/pages/story/CreateStory.js
Labels: enhancement, frontend

#290 Bug/283 edit story fill
  backend/frontend/src/pages/story/EditStory.js
Labels: bug, frontend

#291 Update semantic tag limit #287
  backend/user/views.py
Labels: enhancement, backend

#292 Add tag label search #287
  backend/frontend/src/pages/search/StorySearch.js
  backend/user/views.py
Labels: backend, frontend

#293 Imp/284 timeline details
  backend/frontend/src/pages/search/StorySearch.js
  backend/frontend/src/pages/search/Timeline.css
  backend/frontend/src/pages/search/Timeline.js
  backend/frontend/src/pages/story/StoryDetails.js
Labels: frontend

#280 Bug/163 fix login page scaling
  backend/frontend/src/assets/images/homePage4.png
  backend/frontend/src/components/header/header.js
  backend/frontend/src/pages/landing/Login.js
  backend/frontend/src/pages/landing/Register.js
  backend/frontend/src/pages/landing/landing.css
Labels: bug, frontend

#304 Bug/302 recommendation filling issue
  backend/frontend/src/pages/recom/Recommendations.js
  backend/user/serializers.py
  backend/user/views.py
Labels: backend, frontend

#305 Imp/303 update activity stream response
  backend/frontend/src/pages/activity/ActivityStream.js
  backend/user/views.py
Labels: enhancement, backend, frontend

#307 Imp/306 add post request to searchstory
  backend/user/views.py
Labels: enhancement, backend

#289 Fix remaining wrong fonts #282
  backend/frontend/src/pages/homepage/StoriesByFollowingsUsers.module.css
  backend/frontend/src/pages/recom/Recommendations.module.css
  backend/frontend/src/pages/search/SearchResults.module.css
Labels: bug, frontend

#294 Update ActivityStream.js #281
  backend/frontend/src/pages/activity/ActivityStream.js
Labels: enhancement, frontend

#317 Bug/316 Fix Logout Button
  backend/frontend/src/components/header/UserSearch.js
  backend/frontend/src/components/header/header.css
  backend/frontend/src/components/header/header.js
  backend/frontend/src/pages/landing/Logout.js
Labels: bug, p:low, frontend

#310 Feature/297 improve timeline response formatting
  backend/frontend/src/pages/search/Timeline.css
  backend/frontend/src/pages/search/Timeline.js
Labels: enhancement, frontend

#318 Imp/313 upload file size
  backend/backend/.env.sample
  backend/backend/settings.py
  backend/user/views.py
Labels: enhancement, backend

#320 Bug/Fix misaligned headers #316
  backend/frontend/src/components/header/header.css
  backend/frontend/src/components/header/header.js
Labels: bug, p:high, frontend

#309 Dev->Main #240 #274 #277 #283 #287 #288 #284 #163 #302 #303 #306 #281 #282 #297 #316 #313
  backend/backend/.env.sample
  backend/backend/settings.py
  backend/frontend/package-lock.json
  backend/frontend/src/assets/images/homePage4.png
  backend/frontend/src/components/header/UserSearch.js
  backend/frontend/src/components/header/header.css
  backend/frontend/src/components/header/header.js
  backend/frontend/src/pages/activity/ActivityStream.js
  backend/frontend/src/pages/homepage/AllStories.module.css
  backend/frontend/src/pages/homepage/StoriesByFollowingsUsers.module.css
  backend/frontend/src/pages/homepage/StoryContainer.js
  backend/frontend/src/pages/landing/Login.js
  backend/frontend/src/pages/landing/Login.test.js
  backend/frontend/src/pages/landing/Logout.js
  backend/frontend/src/pages/landing/Register.js
  backend/frontend/src/pages/landing/landing.css
  backend/frontend/src/pages/profile/UserProfile.css
  backend/frontend/src/pages/recom/Recommendations.js
  backend/frontend/src/pages/recom/Recommendations.module.css
  backend/frontend/src/pages/search/SearchResults.module.css
  backend/frontend/src/pages/search/StorySearch.js
  backend/frontend/src/pages/search/Timeline.css
  backend/frontend/src/pages/search/Timeline.js
  backend/frontend/src/pages/story/CreateStory.js
  backend/frontend/src/pages/story/EditStory.js
  backend/frontend/src/pages/story/StoryDetails.js
  backend/user/serializers.py
  backend/user/views.py
Labels: backend, frontend, release

#323 Imp/321 322 minor frontend fixes
  backend/frontend/src/components/header/header.css
  backend/frontend/src/components/header/header.js
  backend/frontend/src/pages/story/CreateStory.js
Labels: p:low, frontend

#325 Update recommendation function #324
  backend/user/recomFunctions.py
Labels: bug, backend

#327 Bug/326 edit biography bug
  backend/frontend/src/pages/profile/UserProfile.css
  backend/frontend/src/pages/profile/UserProfile.js
Labels: bug

#333 Add Register Unit Test #332
  backend/frontend/src/pages/landing/Login.test.js
  backend/frontend/src/pages/landing/Register.test.js
Labels: p:mid, frontend, testing

#337 Feature/335 frontend unit test coverage
  .github/workflows/ci-frontend.yml
  Makefile
Labels: frontend, testing

#330 Bug/328 time edit runtime error
  backend/frontend/package-lock.json
  backend/frontend/package.json
  backend/frontend/src/pages/story/CreateStory.js
  backend/frontend/src/pages/story/EditStory.js
Labels: bug, frontend

#314 Feature/299 implement dark mode
  backend/frontend/src/App.js
  backend/frontend/src/components/header/header.css
  backend/frontend/src/components/header/header.js
  backend/frontend/src/pages/activity/ActivityStream.js
  backend/frontend/src/pages/homepage/AllStories.js
  backend/frontend/src/pages/homepage/StoriesbyFollowingUsers.js
  backend/frontend/src/pages/profile/UserProfile.css
  backend/frontend/src/pages/profile/UserProfile.js
  backend/frontend/src/pages/profile/UserProfileOthers.js
  backend/frontend/src/pages/recom/Recommendations.js
  backend/frontend/src/pages/search/SearchResults.js
  backend/frontend/src/pages/search/SearchUserResults.js
  backend/frontend/src/pages/search/StorySearch.js
  backend/frontend/src/pages/search/Timeline.js
  backend/frontend/src/pages/story/CommentSection.js
  backend/frontend/src/pages/story/CreateStory.js
  backend/frontend/src/pages/story/EditStory.js
  backend/frontend/src/pages/story/StoryDetails.css
  backend/frontend/src/pages/story/StoryDetails.js
  backend/frontend/src/pages/story/StoryMap.js
  backend/frontend/src/pages/story/TagSearch.js
Labels: enhancement, frontend

#338 Feature/331 minor refinements
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
  README.md
  backend/Dockerfile
  backend/requirements.in
Labels: p:mid, backend, frontend

#344 Imp/342 django view tests
  backend/user/test_apis.py
  backend/user/tests.py
  backend/user/urls.py
  backend/user/views.py
Labels: enhancement, backend, testing

#343 Imp/341 django model tests
  backend/user/test_models.py
Labels: enhancement, backend, testing

#347 Add unit test for logout #346
  backend/frontend/src/pages/landing/Logout.test.js
Labels: p:mid, frontend, testing

#345 Add profile page unit test #340
  backend/frontend/src/pages/profile/UserProfile.test.js
Labels: p:mid, frontend, testing

#350 Add unit test for resetpassword #348
  backend/frontend/src/pages/landing/ResetPasswordMain.js
  backend/frontend/src/pages/landing/ResetPasswordMain.test.js
  backend/frontend/src/pages/landing/ResetPasswordRequest.js
  backend/frontend/src/pages/landing/ResetPasswordRequest.test.js
Labels: p:mid, frontend, testing

#339 Add AllStories component test #334
  backend/frontend/src/pages/homepage/AllStories.test.js
  backend/frontend/src/pages/homepage/StoriesbyFollowingUsers.test.js
Labels: p:mid, frontend, testing

#353 Feature/349 loading for recommendation
  backend/frontend/src/pages/recom/Recommendations.js
Labels: enhancement, frontend

#352 340 unit test for profile pages
  backend/frontend/src/pages/profile/UserProfileOthers.test.js
Labels: p:mid, frontend, testing

#355 Feature/354 unit test for recommendations page
  backend/frontend/src/pages/recom/Recommendations.test.js
Labels: frontend, testing

#357 Feature/356 frontend minor refinements
  backend/frontend/src/pages/story/CommentSection.css
  backend/frontend/src/pages/story/CreateStory.css
Labels: enhancement, frontend

#359 Add unit test for comment section #358
  backend/frontend/src/pages/story/CommentSection.test.js
Labels: p:mid, frontend, testing

#361 Add unit test for story details #360
  backend/frontend/src/pages/story/StoryDetails.test.js
Labels: p:mid, frontend, testing

#365 Add unit test for search results #364
  backend/frontend/src/pages/search/SearchResults.test.js
Labels: p:mid, frontend, testing

#371 Feature/370 profile photo error message #370
  backend/user/views.py
Labels: enhancement, backend

#369 Add unit test for search story details box #368
  backend/frontend/src/pages/search/StoryDetailsBox.test.js
Labels: p:mid, frontend, testing

#363 Add unit test for tag search #362
  backend/frontend/src/pages/story/TagSearch.test.js
Labels: p:mid, frontend, testing

#367 Add unit test for search user results #366
  backend/frontend/src/pages/search/SearchUserResults.test.js
Labels: p:mid, frontend, testing

#351 Dev->Main #321 #322 #324 #326 #332 #335 #328 #299 #331 #342 #341 #346 #340 #348 #349 #340 #354 #356 #358 #360 #362 #364 #366 #368 #370
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
  Makefile
  README.md
  backend/Dockerfile
  backend/frontend/package-lock.json
  backend/frontend/package.json
  backend/frontend/src/App.js
  backend/frontend/src/components/header/header.css
  backend/frontend/src/components/header/header.js
  backend/frontend/src/pages/activity/ActivityStream.js
  backend/frontend/src/pages/homepage/AllStories.js
  backend/frontend/src/pages/homepage/AllStories.test.js
  backend/frontend/src/pages/homepage/StoriesbyFollowingUsers.js
  backend/frontend/src/pages/homepage/StoriesbyFollowingUsers.test.js
  backend/frontend/src/pages/landing/Login.test.js
  backend/frontend/src/pages/landing/Logout.test.js
  backend/frontend/src/pages/landing/Register.test.js
  backend/frontend/src/pages/landing/ResetPasswordMain.js
  backend/frontend/src/pages/landing/ResetPasswordMain.test.js
  backend/frontend/src/pages/landing/ResetPasswordRequest.js
  backend/frontend/src/pages/landing/ResetPasswordRequest.test.js
  backend/frontend/src/pages/profile/UserProfile.css
  backend/frontend/src/pages/profile/UserProfile.js
  backend/frontend/src/pages/profile/UserProfile.test.js
  backend/frontend/src/pages/profile/UserProfileOthers.js
  backend/frontend/src/pages/profile/UserProfileOthers.test.js
  backend/frontend/src/pages/recom/Recommendations.js
  backend/frontend/src/pages/recom/Recommendations.test.js
  backend/frontend/src/pages/search/SearchResults.js
  backend/frontend/src/pages/search/SearchResults.test.js
  backend/frontend/src/pages/search/SearchUserResults.js
  backend/frontend/src/pages/search/SearchUserResults.test.js
  backend/frontend/src/pages/search/StoryDetailsBox.test.js
  backend/frontend/src/pages/search/StorySearch.js
  backend/frontend/src/pages/search/Timeline.js
  backend/frontend/src/pages/story/CommentSection.css
  backend/frontend/src/pages/story/CommentSection.js
  backend/frontend/src/pages/story/CommentSection.test.js
  backend/frontend/src/pages/story/CreateStory.css
  backend/frontend/src/pages/story/CreateStory.js
  backend/frontend/src/pages/story/EditStory.js
  backend/frontend/src/pages/story/StoryDetails.css
  backend/frontend/src/pages/story/StoryDetails.js
  backend/frontend/src/pages/story/StoryDetails.test.js
  backend/frontend/src/pages/story/StoryMap.js
  backend/frontend/src/pages/story/TagSearch.js
  backend/frontend/src/pages/story/TagSearch.test.js
  backend/requirements.in
  backend/user/recomFunctions.py
  backend/user/test_apis.py
  backend/user/test_models.py
  backend/user/tests.py
  backend/user/urls.py
  backend/user/views.py
Labels: backend, frontend, release

#311 Feature/285 implement frontend pop up warnings
  backend/frontend/src/pages/story/CreateStory.js
  backend/frontend/src/pages/story/EditStory.js
Labels: enhancement, frontend

#372 Imp/336 address frontend test warnings
  backend/frontend/src/pages/landing/Login.js
  backend/frontend/src/pages/landing/Register.js
  backend/frontend/src/pages/profile/UserProfile.js
  backend/frontend/src/pages/search/StorySearch.js
  backend/frontend/src/pages/search/Timeline.js
  backend/frontend/src/pages/story/CreateStory.js
  backend/frontend/src/pages/story/EditStory.js
  backend/frontend/src/pages/story/StoryDetails.js
  backend/frontend/src/pages/story/TagSearch.js
Labels: p:low, frontend, testing
