Repository SWE574-Fall2023-Group1/SWE574-Fall2023-G1, pull requests merged in 2023-11, with the labels that each got.

#102 Dev -> Main #45 #46 #85 #97
  backend/frontend/src/components/header/header.js
  backend/frontend/src/pages/search/StorySearch.js
  backend/frontend/src/pages/search/Timeline.css
  backend/frontend/src/pages/search/Timeline.js
  backend/frontend/src/pages/story/StoryDetails.js
  backend/user/urls.py
  backend/user/views.py
Labels: backend, frontend, release

#94 Merge milestone 1 report
  reports/m1_group1.md
Labels: documentation, p:high

#104 Feature/101 remove profile photo button
  backend/frontend/src/pages/profile/UserProfile.css
  backend/frontend/src/pages/profile/UserProfile.js
  reports/m1_group1.md
Labels: frontend

#106 Update header.css for background gif #105
  backend/frontend/src/components/header/header.css
Labels: frontend

#99 Feature/81 follow user button counter issue
  backend/frontend/src/pages/profile/UserProfileOthers.js
Labels: frontend

#118 Remove duplicate keys
  backend/backend/settings.py
Labels: backend

#128 Feature/100 location rework with google
  backend/Dockerfile
  backend/backend/settings.py
  backend/frontend/package-lock.json
  backend/frontend/package.json
  backend/frontend/src/components/header/header.js
  backend/frontend/src/index.js
  backend/frontend/src/pages/search/StorySearch.js
  backend/frontend/src/pages/search/Timeline.js
  backend/frontend/src/pages/story/CreateStory.js
  backend/frontend/src/pages/story/StoryDetails.js
  backend/frontend/src/pages/story/StoryMap.js
  backend/requirements.in
  backend/requirements.txt
  backend/user/migrations/0029_storyimage.py
  backend/user/models.py
  backend/user/serializers.py
  backend/user/views.py
  docker-compose.yml
Labels: enhancement, backend, frontend

#127 Feature/120 makefile
  Makefile
Labels: miscellaneous

#132 Feature/131 activity stream base
  backend/backend/settings.py
  backend/frontend/src/components/header/header.js
  backend/frontend/src/pages/activity/ActivityStream.js
  backend/user/migrations/0030_remove_location_latitude_remove_location_longitude_and_more.py
  backend/user/migrations/0031_activity.py
  backend/user/migrations/0032_alter_activity_activity_type.py
  backend/user/models.py
  backend/user/serializers.py
  backend/user/urls.py
  backend/user/views.py
Labels: enhancement, backend, frontend

#134 Fix search issues #133
  backend/frontend/src/pages/search/StorySearch.js
  backend/user/views.py
Labels: backend, frontend

#125 Feature/123 add env sample files
  backend/backend/.env.sample
  backend/frontend/.env.sample
Labels: backend, frontend, deployment

#126 Feature/124 django log level
  backend/backend/settings.py
  backend/user/views.py
Labels: backend

#137 Feature/136 extend photo image gitignore
  backend/profile_photos/.gitignore
  backend/story_images/.gitignore
Labels: backend

#139 Add new comment activity #138
  backend/frontend/src/pages/activity/ActivityStream.js
  backend/user/models.py
  backend/user/urls.py
  backend/user/views.py
Labels: enhancement, backend, frontend

#140 Feature/135 Makefile env-files target
  Makefile
  hack/env-files.ps1
  hack/env-files.sh
Labels: backend, frontend, miscellaneous

#142 Feature/103 update author info in license file
  LICENSE
Labels: documentation, miscellaneous

#144 Feature/108 reduce defined but never used warnings
  backend/frontend/src/App.js
  backend/frontend/src/pages/landing/Login.js
  backend/frontend/src/pages/landing/ResetPasswordRequest.js
  backend/frontend/src/pages/search/SearchUserResults.js
  backend/frontend/src/pages/search/StorySearch.js
  backend/frontend/src/pages/search/Timeline.js
  backend/frontend/src/pages/story/CommentSection.js
  backend/frontend/src/pages/story/CreateStory.js
  backend/frontend/src/pages/story/StoryDetails.js
  backend/frontend/src/pages/story/StoryMap.js
Labels: frontend

#141 Feature/122 Clear Django STATICFILES_DIRS list
  backend/backend/settings.py
Labels: backend

#146 feature/145-register-page-design
  backend/frontend/src/pages/landing/Register.js
  backend/frontend/src/pages/landing/landing.css
Labels: enhancement, p:mid, frontend

#148 feature/147-design-login-page
  backend/frontend/src/pages/landing/Login.js
  backend/frontend/src/pages/landing/landing.css
Labels: enhancement, p:mid, frontend

#155 Add location name edit #152
  backend/frontend/src/pages/story/CreateStory.js
  backend/frontend/src/pages/story/StoryMap.js
Labels: enhancement, frontend

#159 Feature/157 django debug mode
  backend/backend/.env.sample
  backend/backend/settings.py
  backend/requirements.txt
Labels: enhancement, backend

#162 Add comment author name #161
  backend/user/views.py
Labels: enhancement, backend

#164 Update comment author response #161
  backend/user/serializers.py
  backend/user/views.py
Labels: backend

#160 Feature/158 add new targets into Makefile
  Makefile
Labels: enhancement, miscellaneous

#167 Feature/166 add missing migration file
  backend/user/migrations/0033_alter_activity_activity_type.py
Labels: backend

#165 Dev->Main #101 #105 #81 #109 #100 #124 #120 #131 #133 #123 #124 #136 #138 #135 #103 #108 #122 #145 #147 #152 #157 #161 #158 #166
  LICENSE
  Makefile
  backend/Dockerfile
  backend/backend/.env.sample
  backend/backend/settings.py
  backend/frontend/.env.sample
  backend/frontend/package-lock.json
  backend/frontend/package.json
  backend/frontend/src/App.js
  backend/frontend/src/components/header/header.css
  backend/frontend/src/components/header/header.js
  backend/frontend/src/index.js
  backend/frontend/src/pages/activity/ActivityStream.js
  backend/frontend/src/pages/landing/Login.js
  backend/frontend/src/pages/landing/Register.js
  backend/frontend/src/pages/landing/ResetPasswordRequest.js
  backend/frontend/src/pages/landing/landing.css
  backend/frontend/src/pages/profile/UserProfile.css
  backend/frontend/src/pages/profile/UserProfile.js
  backend/frontend/src/pages/profile/UserProfileOthers.js
  backend/frontend/src/pages/search/SearchUserResults.js
  backend/frontend/src/pages/search/StorySearch.js
  backend/frontend/src/pages/search/Timeline.js
  backend/frontend/src/pages/story/CommentSection.js
  backend/frontend/src/pages/story/CreateStory.js
  backend/frontend/src/pages/story/StoryDetails.js
  backend/frontend/src/pages/story/StoryMap.js
  backend/profile_photos/.gitignore
  backend/requirements.in
  backend/requirements.txt
  backend/story_images/.gitignore
  backend/user/migrations/0029_storyimage.py
  backend/user/migrations/0030_remove_location_latitude_remove_location_longitude_and_more.py
  backend/user/migrations/0031_activity.py
  backend/user/migrations/0032_alter_activity_activity_type.py
  backend/user/migrations/0033_alter_activity_activity_type.py
  backend/user/models.py
  backend/user/serializers.py
  backend/user/urls.py
  backend/user/views.py
  docker-compose.yml
  hack/env-files.ps1
  hack/env-files.sh
Labels: deployment, release

#180 Feature/169 semantic tags
  backend/frontend/src/pages/story/CreateStory.js
  backend/frontend/src/pages/story/StoryDetails.js
  backend/frontend/src/pages/story/TagSearch.js
  backend/user/migrations/0034_tag_remove_story_story_tags_story_story_tags.py
  backend/user/migrations/0035_tag_description_tag_label.py
  backend/user/models.py
  backend/user/serializers.py
  backend/user/urls.py
  backend/user/views.py
Labels: enhancement, backend, frontend
