Repository SWE574-Fall2023-Group1/SWE574-Fall2023-G1, pull requests merged in 2023-10, with the labels that each got.

#26 Update preview icon and description #25
  README.md
  backend/frontend/public/index.html
  backend/frontend/public/logo192.png
Labels: frontend

#30 Story photo store type changed as URL #28
  backend/Dockerfile
  backend/backend/settings.py
  backend/profile_photos/homePage4.png
  backend/requirements.txt
  backend/user/models.py
  backend/user/urls.py
  backend/user/views.py
Labels: p:high, backend

#33 Feature/28 image store type
  backend/Dockerfile
  backend/backend/settings.py
  backend/frontend/package-lock.json
  backend/frontend/package.json
  backend/frontend/src/pages/story/CreateStory.js
  backend/frontend/src/pages/story/StoryDetails.js
  backend/profile_photos/.gitignore
  backend/profile_photos/homePage4.png
  backend/requirements.txt
  backend/story_images/.gitignore
  backend/user/authentication.py
  backend/user/functions.py
  backend/user/models.py
  backend/user/urls.py
  backend/user/views.py
  docker-compose.yml
Labels: p:high, backend, frontend

#43 Add swagger settings & configs
  backend/backend/settings.py
  backend/requirements.txt
  backend/user/urls.py
  backend/user/views.py
Labels: documentation, backend

#51 Update request responses #50
  backend/user/views.py
Labels: enhancement, p:high, backend

#52 Fix request response issues #50
  backend/frontend/src/authCheck.js
  backend/frontend/src/pages/landing/Login.js
  backend/user/tests.py
  backend/user/views.py
Labels: backend, frontend

#53 Fix logout & user stories on profile page #50
  backend/frontend/src/pages/landing/Logout.js
  backend/user/views.py
Labels: p:high, backend

#54 Fix user followers request #50
  backend/user/views.py
Labels: backend

#61 Add delete story api View
  backend/user/views.py
Labels: backend

#65 Dev -> Main #36 #37 #50 #56
  .gitignore
  Documents/markdown-cheat-sheet.md
  README.md
  backend/backend/settings.py
  backend/frontend/src/authCheck.js
  backend/frontend/src/pages/homepage/AllStories.js
  backend/frontend/src/pages/homepage/StoriesbyFollowingUsers.js
  backend/frontend/src/pages/landing/Login.js
  backend/frontend/src/pages/landing/Logout.js
  backend/frontend/src/pages/profile/UserProfile.js
  backend/frontend/src/pages/profile/UserProfileOthers.js
  backend/frontend/src/pages/story/CommentSection.js
  backend/requirements.in
  backend/requirements.txt
  backend/user/serializers.py
  backend/user/tests.py
  backend/user/urls.py
  backend/user/views.py
Labels: p:high, backend, frontend, deployment

#70 Update views.py for timeline search
  backend/user/views.py
Labels: bug, p:high, backend

#82 Hotfix/77 attribute error
  backend/user/serializers.py
  backend/user/views.py
Labels: bug, enhancement, backend

#76 Feature/75 frontend refinements
  backend/frontend/src/pages/landing/Login.js
  backend/frontend/src/pages/landing/Register.js
  backend/frontend/src/pages/landing/ResetPasswordMain.js
Labels: frontend

#90 Feature/89 single string error message
  backend/user/views.py
Labels: enhancement, backend

#93 Dev->Main #75 #77 #89
  backend/frontend/src/pages/landing/Login.js
  backend/frontend/src/pages/landing/Register.js
  backend/frontend/src/pages/landing/ResetPasswordMain.js
  backend/user/serializers.py
  backend/user/views.py
Labels: release

#91 Feature/46 timeline frontend
  backend/frontend/src/components/header/header.js
  backend/frontend/src/pages/search/StorySearch.js
  backend/frontend/src/pages/search/Timeline.css
  backend/frontend/src/pages/search/Timeline.js
  backend/frontend/src/pages/story/StoryDetails.js
  backend/user/urls.py
  backend/user/views.py
Labels: enhancement, p:mid, frontend

#95 Update storyDetails for like issue
  backend/frontend/src/pages/story/StoryDetails.js
Labels: bug, enhancement, frontend
